.ap-status {
    padding: 3px 6px;
    border-radius: 10px;
}

.pending-color{
    background-color: #ffd400;
}
.confirmed-color{
    background-color: #60fa65;
}
.cancelled-color{
    background-color: #ff9e9e;
}