@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/font-gotham/Gotham-Light.eot');
  src: url('assets/fonts/font-gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/font-gotham/Gotham-Light.woff2') format('woff2'),
  url('assets/fonts/font-gotham/Gotham-Light.woff') format('woff'),
  url('assets/fonts/font-gotham/Gotham-Light.ttf') format('truetype'),
  url('assets/fonts/font-gotham/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/font-gotham/GothamMedium.eot');
  src: url('assets/fonts/font-gotham/GothamMedium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/font-gotham/GothamMedium.woff2') format('woff2'),
  url('assets/fonts/font-gotham/GothamMedium.woff') format('woff'),
  url('assets/fonts/font-gotham/GothamMedium.ttf') format('truetype'),
  url('assets/fonts/font-gotham/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/font-gotham/Gotham-Bold.eot');
  src: url('assets/fonts/font-gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/font-gotham/Gotham-Bold.woff2') format('woff2'),
  url('assets/fonts/font-gotham/Gotham-Bold.woff') format('woff'),
  url('assets/fonts/font-gotham/Gotham-Bold.ttf') format('truetype'),
  url('assets/fonts/font-gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('assets/fonts/font-gotham/Gotham-Book.eot');
  src: url('assets/fonts/font-gotham/Gotham-Book.woff2') format('woff2'),
  url('assets/fonts/font-gotham/Gotham-Book.woff') format('woff'),
  url('assets/fonts/font-gotham/Gotham-Book.ttf') format('truetype'),
  url('assets/fonts/font-gotham/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: ‘Gotham-Book’;
  src: url('assets/fonts/font-gotham/Gotham-Book.svg#Gotham-Book') format('svg');
}}
