button {
  border: none;
  outline: none;
  cursor: pointer;
  @include border-radius(2px);
  height: 36px;
  padding: 0 15px;
  letter-spacing: 0.03em;

  &.btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    letter-spacing: 0.08em;
    @include opacity(.8);
    @include transition(all .3s ease-in-out);

    &:hover{
      @include opacity(1);
    }

    &.logout {
      color: $white;
      font-weight: 600;
      @include opacity(0.6);

      &:hover {
        @include opacity(1);
      }
    }
  }
}

.btn-default {
  background: $color-2;
  color: $white;
  border-radius: 10px;

  &:hover {
    opacity: 0.85;
  }
}

.btn-primary {
  color: $color-1;
  border-radius: 10px;

  &:hover {
    opacity: 0.85;
  }
}

.btn-dark {
  background: $btn-dark-bg;
  color: $white;
  border-radius: 10px;

  &:hover {
    opacity: 0.85;
  }
}

a {
  @include font-normal;
  text-decoration: none !important;
  opacity: 1;
  color: $white;
  @include transition(opacity .3s ease-in-out);
  display: inline-block;
  margin-right: -4px;
}

.icon-btn {
  background: transparent;
  @include transition(all .3s ease-in-out);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px;

  &:hover {
    background: #ddd;
  } 
}