<div class="pop-up" style="width: 350px;">

    <div class="pop-up-header">
        <div class="pop-up-title">{{data}}</div>
    </div>
    <div class="pop-up-body">
        <input type="text" class="form-control" required placeholder="Reason" [(ngModel)]="reason">
    </div>

    <div class="pop-up-btns">
        <button type="button" class="btn-primary" (click)="closeDialog(false)">No</button>
        <button type="button" class="btn-default" (click)="closeDialog(true)">Yes</button>
    </div>
</div>