<div class="pop-up" style="width: 300px;">

  <div class="pop-up-header">
    <div class="pop-up-title">{{data}}</div>
  </div>

  <div class="form-group" *ngIf="isShowCancelReason">
    <label>Reason For Cancellation</label>
    <input class="form-control" [(ngModel)]="cancelReason" name="cancelReason" placeholder="Enter cancel reason" />
  </div>

  <div class="pop-up-btns">
    <button type="button" class="btn-primary" (click)="closeDialog(false)">No</button>
    <button type="button" class="btn-default" (click)="closeDialog(true)">Yes</button>
  </div>
</div>